@page "/Tabletemplate"
@inherits ListEmployeeBase

<DataGrid Items="@EmployeeDetails.ListEmployee">
    <DataGridHeader>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Date of Birth</th>
        <th>City</th>
    </DataGridHeader>
    <DataGridColumn Context="employee">
        <td>@employee.EmployeeName</td>
        <td>@employee.Department</td>
        <td>@employee.Salary</td>
        <td>@employee.Dob.ToString("dd MMM yyyy")</td>
        <td>@employee.City</td>
    </DataGridColumn>
    <DataGridFooter>
        <tr><b>Employee Count:</b> @EmployeeDetails.ListEmployee.Count</tr>
    </DataGridFooter>
</DataGrid>

@code {

}